<ion-view view-title="Add a place">
  <ion-content>
    <p class="text-center">Add a place</p>

    <div class="padding">
      
      <h4>Filter by</h4>
      <div class="list">
        <div class="item item-icon-right">
          Area
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <div class="item item-icon-right">
          Categories
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <div class="item item-icon-right">
          Service
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div>
      <h4>Type</h4>
      <div class="button-bar">
        <!-- <a class="button button-small ">Nearby</a> -->
        <a class="button button-small inactive" ng-click="choose_type('social')">Social</a>
        <a class="button button-small active" ng-click="choose_type('vet')">Vet</a>
        <a class="button button-small" ng-click="choose_type'park')">Park</a>
      </div>
      <button class="button button-block button-balanced" ng-click="applyFilter()">
        Submit
      </button>
    </div>


  </ion-content>
</ion-view>