<ion-view view-title="Add a Meetup" ng-init="initialize()">
  <ion-content>
    <div class="padding">
      <h4>Meetup information</h4>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Name" id="name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Location" id="location">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="We meet every week on Wednesday at 7.30am" id="time">
        </label>
      </div>
      <h4>Show it on the map</h4>
      <div id="map9" data-tap-disabled="true" style="height: 200px; width: 100%;"></div>

      <button class="button button-block button-positive" ng-click="applyFilter()" id="addaplace_button" style="position: fixed; bottom: 40px; width: 95%">
        Add a place 
      </button>
    </div>
  </ion-content>
</ion-view>