<ion-view view-title="Leave a Review" ng-init="initialize()">
  <ion-content>
    <div class="padding">
      <h4>Add a review for <b>{{place.name}}</b></h4>
      <div id="map8" data-tap-disabled="true" style="height: 200px; width: 100%;"></div>

      <h4>Review:</h4>
      <label class="item item-input">
        <textarea placeholder="Type your comment here" id="text_ratings" rows="10" cols="20" style="width: 100%"></textarea>
        <input type="text">
      </label>
      <div class = "item range">
        <i class = "icon ion-ios-star-half"></i>
         <input type="range" name="range_ratings" value="2.5" min="0" max="5" step="0.5" id="range_ratings" data-show-value="true" ng-model="range_value">
         <label for="range_ratings">Rating:{{range_value}}</label>
      </div>

      <button class="button button-block button-positive" ng-click="submit_review()" id="addaplace_button" style=" width: 100%">
        Submit
      </button>
    </div>
  </ion-content>
</ion-view>