<ion-view view-title="About">
  <ion-content>
    <div class="list card">
      <div class="item item-text-wrap">
        <h2>How it started</h2>
      <p>Pawprint was created in November 2015 at the global entrepreneurial event called <b>Startup Weekend</b> in Columbia, SC to help connect dog owners with services, activities, and local dining options.
      </p> 
        <div class="item item-image">
          <img src="img/about_01.png">
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-text-wrap">
        <h2>Mission</h2>
      <p>
        We know how much you love your dog and that is why Pawprint can help make it easier to bring your furry friend with you when you go out. 
      </p> 
        <div class="item item-image">
          <img src="img/about_03.jpg">
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-text-wrap">
      <p>
        Whether you're new to town or looking for a new restaurant to try, Pawprint can show you a variety of veterinarian offices, groomers, social events, dog parks, or a fun place to grab a brew with ratings and reviews from other dog owners
      </p> 
        <div class="item item-image">
          <img src="img/about_02.jpg">
        </div>
      </div>
    </div>


        
    <div class="card">
      <div class="item item-text-wrap">
        
        <a class="item" href="#" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSefHmlFPso-GbIsYLKHa4uj8yt5HvyPDgBBN98HStetqeDOTg/viewform', '_system', 'location=yes'); return false;">
                Be sure to share the love and leave a review on Pawprint.
            </a>
      </div>
    </div>


    

    <div class="list card item item-text-wrap">
        <div class="item item-avatar">

        <h2>This app was developed by Grasp Mobile Development LLC</h2>

        </div>
        <div class="item item-image">
        <img class="full-image" style="width:100%, height: auto;" src="img/grasp-logo.jpg">
    </div>

  </ion-content>
</ion-view>