<ion-view view-title="About">
  <ion-content>
    <p class="text-left">
    	Pawprint was created in November 2015 to help connect dog owners with services, activities, and local dining options. We know how much you love your dog and that is why Pawprint can help make it easier to bring your furry friend with you when you go out. Whether you're new to town or looking for a new restaurant to try, Pawprint can show you a variety of veterinarian offices, groomers, social events, dog parks, or a fun place to grab a brew with ratings and reviews from other dog owners. 
    	<br>
    	<br>

    	<br>
    	Be sure to share the love and leave a review on Pawprint.
    	<br>

    </p>
    

    <div class="list card item item-text-wrap">
        <div class="item item-avatar">

        <h2>This app was developed by Grasp Mobile Development LLC</h2>

        </div>
        <div class="item item-image">
        <img class="full-image" style="width:100%, height: auto;" src="img/grasp-logo.jpg">
    </div>

  </ion-content>
</ion-view>