<ion-view view-title="Meetup Details" hide-back-button="false" class="stable-bg" ng-init="initialize()">
  <ion-content>
  <div id="map10" data-tap-disabled="true" style="height: 200px; width: 100%;"></div>
    <div class="item row-no-padding light-bg">
      <div class="padding">
        <h2>{{meetup.name}}</h2>
        <h4>Time to meet: {{meetup.time}}</h4>
        <p>
          <i class="ion-ios-location assertive"></i>
          {{meetup.addr}}
        </p>
      </div>
      </div>
      <img class="full-image" src="img/meetup.JPG" style="width:100%, height: auto;">
    </div>
  </ion-content>
</ion-view>


      