<ion-view view-title="Meet Ups" ng-init="initialize()">
  <ion-content>
  <div id="map9" data-tap-disabled="true" style="height: 200px; width: 100%;"></div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="meetUp in meetUps_to_show" type="item-text-wrap" ng-click="click({{meetUp.id}})">
        <!--<img ng-src="img/{{place.type}}.png">-->
        <h2>{{meetUp.name}}</h2>
        <p>Meet up at {{meetUp.addr}} on {{meetUp.time}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="padding">
	    <button class="button button-block button-positive" style="position: fixed; bottom: 20px; width: 95%" ui-sref="addMeet">
	        Add Meet Up 
	    </button>
    </div>
  </ion-content>
</ion-view>