<ion-view view-title="Rate this app">
  <ion-content>
    <div class="list card item item-text-wrap">

    <a href="#" class="item item-icon-left"  type="item-text-wrap">
      <i class="icon ion-happy"></i>
      <h2>Do you like this app?</h2>
      <p onclick="window.open('itunes.apple.com/us/app/benair-airline-frequent-flyer/id1099251370?mt=8')">Leave a good review here!</p>
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-wrench"></i>
      <h2>Found a bug/technical issue?</h2>
      <p onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScBbzlFT4s1MpBuBSlzzqU-OpJRV0W__hwbdaMneh3mFGcMRw/viewform', '_system', 'location=yes'); return false;">
      Report here.
      </p>
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-arrow-graph-up-right"></i>
      <h2>Have an idea on how to improve the app?</h2>
      <p onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScBbzlFT4s1MpBuBSlzzqU-OpJRV0W__hwbdaMneh3mFGcMRw/viewform', '_system', 'location=yes'); return false;">
      We need your opinion!
      </p>

    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-clipboard"></i>
      <h2>Want to participate in the customer survey?</h2>

      <p onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSefHmlFPso-GbIsYLKHa4uj8yt5HvyPDgBBN98HStetqeDOTg/viewform', '_system', 'location=yes'); return false;">
      Click here.
      </p>


    </a>
    </div>





    <div class="list card item item-text-wrap">

      <div class="item item-avatar">
        
        <h2>This app was developed by Grasp Mobile Development LLC</h2>
        
      </div>
      <div class="item item-image">
        <img class="full-image" style="width:100%, height: auto;" src="img/grasp-logo.jpg">
      </div>


    </div>
  </ion-content>
</ion-view>