<ion-view view-title="Home">
  <ion-content>

    <div class="list">
      <a class="item">
        <img class="full-image" src="banner.jpg">
      </a>
      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/dine.jpg">
        <p>
          Restaurants and Bars
        </p>
      </a>

      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/play.jpg">
        <p>
          Meet Up
        </p>
      </a>

      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/connect.jpg">
        <p>
          Vets, Parks, Pet Stores
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>
