<ion-view view-title="Location" ng-init="init()">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <div style="width:100%">
      <button class="button button-dark" ng-click="displayAll()" style="width:17%; min-height: 35px; height: 38px; font-size: 13px;">
        All
      </button>
      <button class="button button-dark" ng-click="displayRB()" style="width:30%; min-height: 35px; height: 38px; font-size: 13px;">
        Social
      </button>
      <button class="button button-dark" ng-click="displayVets()"  style="width:17%; min-height: 35px; height: 38px; font-size: 13px;">
        Vets
      </button>
      <button class="button button-dark" ng-click="displayParks()"  style="width:30%; min-height: 35px; height: 38px; font-size: 13px;">
        Parks
      </button>
    </div>
    <ion-list>
      <!--<ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r1_thumb.jpg">
        <h2>Sumo BBQ</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>-->

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="place in places_to_show" type="item-text-wrap" href="#/location/{{place.id}}">
        <h2>{{place.name}}</h2>
        <p>{{place.addr}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
