<ion-view view-title="Location" ng-init="init()">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <div style="width:100%">
      <button type="button" ng-click="displayAll()" style="width:24%">
        All</button>
      <button type="button" ng-click="displayRB()" style="width:40%">
        Restaraunts/Bars</button>
      <button type="button" ng-click="displayVets()" style="width:33%">
        Veterinarians</button>
    </div>
    <ion-list>
      <!--<ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r1_thumb.jpg">
        <h2>Sumo BBQ</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>-->

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="place in places" type="item-text-wrap" href="#/location/{{place.id}}">
        <h2>{{place.name}}</h2>
        <p>{{place.addr}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
