<ion-view view-title="Home">
  <ion-content>

    <div class="list">
      <a class="item">
        <img class="full-image" src="img/banner.png">
      </a>
      <a class="item item-thumbnail-left"><!-- ui-sref="detail">-->
        <img ng-src="img/dine.png">
        <h2>
          Restaurants and Bars
        </h2>
      </a>

      <a class="item item-thumbnail-left"><!-- ui-sref="detail">-->
        <img ng-src="img/play.png">
        <h2>
          Meet Up
        </h2>
      </a>

      <a class="item item-thumbnail-left"><!-- ui-sref="detail">-->
        <img ng-src="img/connect.png">
        <h2>
          Vets, Parks, Pet Stores
        </h2>
      </a>
    </div>
  </ion-content>
</ion-view>
