<ion-view view-title="Map" ng-init="init()">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <!--<div style="width:100%">
      <button class="button button-dark" ng-click="displayAll()" style="width:17%; min-height: 35px; height: 38px; font-size: 13px;">
        All
      </button>
      <button class="button button-dark" ng-click="displayRB()" style="width:30%; min-height: 35px; height: 38px; font-size: 13px;">
        Bars
      </button>
      <button class="button button-dark" ng-click="displayVets()"  style="width:17%; min-height: 35px; height: 38px; font-size: 13px;">
        Vets
      </button>
      <button class="button button-dark" ng-click="displayParks()"  style="width:30%; min-height: 35px; height: 38px; font-size: 13px;">
        Parks
      </button>
    </div>-->

    <div class="button-bar">
    <a class="button button-dark" ng-click="displayAll()">All</a>
    <a class="button button-dark" ng-click="displayRB()">Bars</a>
    <a class="button button-dark" ng-click="displayVets()">Vets</a>
    <a class="button button-dark" ng-click="displayParks()">Parks</a>
    </div>



    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="place in places_to_show" type="item-text-wrap" ng-click="click({{place.id}})" id="place_{{place.id}}">
        <img ng-src="img/{{place.type}}3.png">
        <h2>{{place.name}}</h2>
        <p>{{place.addr}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
